<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>setting the static file/folder</title>
    <style>
        body{
            background-color: black;
            color: whitesmoke;
        }
    </style>
</head>
<body>
    <h1>
        we are learning static setting in ejs mastery course..
    </h1>
</body>
</html>