div{
    background-color: yellow;
}

/* form{
    background-color: red; 
} */
input{
    background-color: inherit;

}

button{
    background-color: yellow;
}

button:hover{
       background-color: red;
}